---
import MainLayout from "../layouts/MainLayout.astro";

import Project from "@components/Project.astro";

import wowImage from "/src/assets/wow.webp";
import gbooksImage from "/src/assets/bookfinder.webp";
import aikidoImage from "/src/assets/aikido.webp";
import dungeon from "/src/assets/mainMenu.png";
import ani from "/src/assets/anihero.webp";
import mScrapper from "/src/assets/mschapters.webp";
---

<MainLayout
  title="Projects | Avila Mariano"
  description="this is an about page to display authors personal projects with a simple showcase of images and content"
>
  <section class="pt-14 mb-44 md:p-14">
    <h2 class="flex justify-center pb-8 text-xl text-center">
      Some of my work
    </h2>
    <h2
      class="flex justify-center pb-4 text-md md:text-xl text-center opacity-35"
    >
      Developer focused in component-based languages, <br /> user experiences and
      responsive design
    </h2>
    <section class="grid grid-cols-1 lg:grid-cols-3 lg:px-28">
      <Project
        title="Endless Dungeon"
        description="Turn-based RPG game with character selection and combat"
        imgSrc={dungeon}
        link="/projectBlog/Dungeon"
      />
      <Project
        title="Ani Web App"
        description="Web App for Anime content discovery"
        imgSrc={ani}
        link="/projectBlog/Ani"
      />
      <Project
        title="Manga Scrapper"
        description="Web App for Manga content discovery"
        imgSrc={mScrapper}
        link="/projectBlog/Manga"
      />
      <Project
        title="Book Finder"
        description="Implementation of Google Books API"
        imgSrc={gbooksImage}
        link="/projectBlog/gBooks"
      />
      <Project
        title="Aikido Mobile App"
        description="Mobile App for Aikido Dojo"
        imgSrc={aikidoImage}
        link="/projectBlog/Aikido"
      />
      <Project
        title="WoW - Clone"
        description="Clone of World of Warcraft Website using Astro and Tailwind"
        imgSrc={wowImage}
        link="/projectBlog/wowClone"
      />
    </section>
  </section>
</MainLayout>
