---
import { Image } from "astro:assets";
const { title, description, imgSrc, link } = Astro.props;
---

<section>
  <div>
    <a href={link} rel="noopener noreferrer" title="Project Website">
      <div class="relative bg-opacity-35 group h-96 overflow-hidden">
        <Image
          src={imgSrc}
          alt={title}
          class="absolute inset-0 object-cover object-center w-full h-full group-hover:opacity-75 transition-opacity duration-300"
          width="400"
          height="200"
          loading="lazy"
        />
        <div
          class="absolute inset-0 opacity-0 cursor-pointer group-hover:opacity-100 transition-opacity duration-300"
        >
          <div class="flex items-end h-full bg-stone-600 bg-opacity-40">
            <div class="p-4">
              <h2 class="text-xl text-rose font-mechsuit pb-4">{title}</h2>
              <p class="text-xs text-secondary">{description}</p>
            </div>
          </div>
        </div>
      </div>
    </a>
  </div>
</section>
