---
const PROJECTS = [
    {
        title: "Project 1",
        description: "This is a project",
        link: "#",
        github: "#",
        image: "https://via.placeholder.com/150",
        tags: ["tag1", "tag2", "tag3"],
    },
];
---

{
    PROJECTS.map(({ title, description, tags, image }) => (
        <article class="flex flex-auto" id="projectsCollection">
            <div class="bg-zinc-800 opacity-85 w-80 rounded-b-lg mr-8">
                <img
                    class="w-full rounded-t-lg h-30 relative opacity-20 cursor-pointer hover:opacity-100 transition duration-500 ease-in-out"
                    src={image}
                    alt={`Landing page screenshot for ${title} project`}
                />
                <h1 class="text-2xl lg:4xl text-center text-lime-400">
                    {title}
                </h1>
                <p class=" text-zinc-400">{description}</p>
                <ul class="flex flex-row gap-4">
                    {tags.map((tag) => (
                        <li>{tag}</li>
                    ))}
                </ul>
            </div>
        </article>
    ))
}
