---
const { title, description, imgSrc, BadgeNames } = Astro.props;
---

<section class="px-72 pt-28">
  <h2 class="flex justify-center pb-14 text-xl text-center">
    Work in progress...
  </h2>
  <h2 class="flex justify-center pb-14 text-xl text-center opacity-35">
    Developer focused in component-based languages, <br /> user experiences and responsive
    design
  </h2>
  <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
    <!-- Proyecto 1 -->
    <div class="relative bg-slate-400 bg-opacity-35 group h-80">
      <div
        class="absolute inset-0 bg-contain bg-center group-hover:bg-opacity-75"
        style="background-image: url('/rpvfund.png');"
      >
      </div>
      <div
        class="absolute inset-0 opacity-0 cursor-pointer group-hover:opacity-100 transition-opacity duration-300"
      >
        <div
          class="flex items-end justify-center h-full bg-stone-600 bg-opacity-65"
        >
          <div class="p-8">
            <h2 class="text-xl text-rose font-mechsuit pb-4">{title}</h2>
            <p class="text-xs text-secondary">{description}</p>
          </div>
        </div>
      </div>
    </div>

    <!-- Proyecto 2 -->
    <div class="relative bg-slate-400 bg-opacity-35 group h-80">
      <div
        class="absolute inset-0 bg-contain bg-center group-hover:bg-opacity-75"
        style="background-image: url('/rpvfund.png');"
      >
      </div>
      <div
        class="absolute inset-0 opacity-0 cursor-pointer group-hover:opacity-100 transition-opacity duration-300"
      >
        <div
          class="flex items-end justify-center h-full bg-stone-600 bg-opacity-65"
        >
          <div class="p-8">
            <h2 class="text-xl text-rose font-mechsuit pb-4">{title}</h2>
            <p class="text-xs text-secondary">{description}</p>
          </div>
        </div>
      </div>
    </div>

    <!-- Proyecto 3 -->
    <div class="relative bg-slate-400 bg-opacity-35 group h-80">
      <div
        class="absolute inset-0 bg-contain bg-center group-hover:bg-opacity-75"
        style="background-image: url('/rpvfund.png');"
      >
      </div>
      <div
        class="absolute inset-0 opacity-0 cursor-pointer group-hover:opacity-100 transition-opacity duration-300"
      >
        <div
          class="flex items-end justify-center h-full bg-stone-600 bg-opacity-65"
        >
          <div class="p-8">
            <h2 class="text-xl text-rose font-mechsuit pb-4">{title}</h2>
            <p class="text-xs text-secondary">{description}</p>
          </div>
        </div>
      </div>
    </div>
    <!-- Proyecto 4 -->
    <div class="relative bg-slate-400 bg-opacity-35 group h-80">
      <div
        class="absolute inset-0 bg-contain bg-center group-hover:bg-opacity-75"
        style="background-image: url('/rpvfund.png');"
      >
      </div>
      <div
        class="absolute inset-0 opacity-0 cursor-pointer group-hover:opacity-100 transition-opacity duration-300"
      >
        <div
          class="flex items-end justify-center h-full bg-stone-600 bg-opacity-65"
        >
          <div class="p-8">
            <h2 class="text-xl text-rose font-mechsuit pb-4">{title}</h2>
            <p class="text-xs text-secondary">{description}</p>
          </div>
        </div>
      </div>
    </div>
        <!-- Proyecto 5 -->
        <div class="relative bg-slate-400 bg-opacity-35 group h-80">
          <div
            class="absolute inset-0 bg-contain bg-center group-hover:bg-opacity-75"
            style="background-image: url('/rpvfund.png');"
          >
          </div>
          <div
            class="absolute inset-0 opacity-0 cursor-pointer group-hover:opacity-100 transition-opacity duration-300"
          >
            <div
              class="flex items-end justify-center h-full bg-stone-600 bg-opacity-65"
            >
              <div class="p-8">
                <h2 class="text-xl text-rose font-mechsuit pb-4">{title}</h2>
                <p class="text-xs text-secondary">{description}</p>
              </div>
            </div>
          </div>
        </div>
            <!-- Proyecto 6 -->
    <div class="relative bg-slate-400 bg-opacity-35 group h-80">
      <div
        class="absolute inset-0 bg-contain bg-center group-hover:bg-opacity-75"
        style="background-image: url('/rpvfund.png');"
      >
      </div>
      <div
        class="absolute inset-0 opacity-0 cursor-pointer group-hover:opacity-100 transition-opacity duration-300"
      >
        <div
          class="flex items-end justify-center h-full bg-stone-600 bg-opacity-65"
        >
          <div class="p-8">
            <h2 class="text-xl text-rose font-mechsuit pb-4">{title}</h2>
            <p class="text-xs text-secondary">{description}</p>
          </div>
        </div>
      </div>
    </div>
</section>
