---
const { title, description, imgSrc, BadgeNames } = Astro.props;
---

<section class="p-44">
  <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
    <!-- Proyecto 1 -->
    <div class="relative bg-slate-400 bg-opacity-35 group">
      <div
        class="absolute inset-0 bg-cover bg-center group-hover:bg-opacity-75"
        style="background-image: url('/public/rpvfund.png');"
      >
      </div>
      <div
        class="absolute inset-0 opacity-0 cursor-pointer group-hover:opacity-100 transition-opacity duration-300"
      >
        <div class="flex items-end justify-center h-full bg-stone-600 bg-opacity-65">
          <div class="text-center p-8">
            <h2 class="text-2xl text-rose font-mechsuit pb-4">{title}</h2>
            <p class="text-sm text-secondary">{description}</p>
          </div>
        </div>
      </div>
    </div>

    <!-- Proyecto 2 -->
    <div class="bg-slate-400 bg-opacity-35">
      <img
        src="/public/rpvfund.png"
        alt=""
        class="w-full h-96 object-scale-down"
      />
      <div class="p-14 opacity-0 hover:opacity-100">
        <h2 class="text-2xl text-rose font-mechsuit pb-8">{title}</h2>
        <p class="text-sm text-primary pb-4">{description}</p>
      </div>
    </div>

    <!-- Proyecto 3 -->
    <div class="bg-slate-400 bg-opacity-35">
      <img
        src="/public/rpvfund.png"
        alt=""
        class="w-full h-96 object-scale-down"
      />
      <div class="p-14">
        <h2 class="text-2xl text-rose font-mechsuit pb-8">{title}</h2>
        <p class="text-sm text-primary pb-4">{description}</p>
      </div>
    </div>
    <!-- Proyecto 4 -->
    <div class="bg-slate-400 bg-opacity-35">
      <img
        src="/public/rpvfund.png"
        alt=""
        class="w-full h-96 object-scale-down"
      />
      <div class="p-14">
        <h2 class="text-2xl text-rose font-mechsuit pb-8">{title}</h2>
        <p class="text-sm text-primary pb-4">{description}</p>
      </div>
    </div>
  </div>
</section>
