---
import "@fontsource-variable/jetbrains-mono";
import "@fontsource/michroma";
import Headermain from "../components/Headermain.astro";
import Footer from "../components/Footer.astro";
const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <title>{title}</title>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <link rel="canonical" href="https://dxravage.github.io" />

    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />

    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=5"
    />
    <meta name="author" content="Mariano Caballero Avila" />
    <link rel="sitemap" href="/sitemap-index.xml" />

    <meta
      name="keywords"
      content="software engineer, Full-Stack Web Developer, Website Design, software engineer, Responsive Website Design, ux/ui, front-end web developer, astro dev, astro website, build websites with Astro"
    />

    <meta property="og:site_name" content="Avila Dev Portfolio" />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://dxravage.github.io" />

    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="{title}" />
    <meta name="twitter:description" content="{description}" />

    <meta name="robots" content="index, follow" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  </head>

  <body class="overflow-hidden">
    <Headermain />
    <slot />
    <Footer />

    <style is:global>
      :root {
        --color-primary: #52525b;
        --color-secondary: #e4e4e7;
        --color-rose: #e11d48;
        --color-zinc: #71717a;

        --background-color: var(--color-secondary);
        --background-image: var(--background-color) url("/concrete.png") repeat;
      }

      @font-face {
        font-family: "mechsuit";
        src: url("/fonts/Mechsuit.woff2") format("woff2");
        font-weight: normal;
        font-style: normal;
        font-display: swap;
      }

      html {
        font-family: "michroma", system-ui, sans-serif;
        background: var(--background-image);
        scroll-behavior: smooth;
        overflow-x: hidden;
        overscroll-behavior: none;
      }

      ::-webkit-scrollbar {
        width: 10px;
        border-radius: 10px;
      }

      ::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background-color: theme("colors.secondary");
        border: 2px solid transparent;
        background-clip: content-box;
      }
      ::-webkit-scrollbar-track {
        background: var(--background-image);
      }

      ::-webkit-scrollbar-corner {
        background: var(--background-image);
      }
      @media (prefers-reduced-motion: reduce) {
        html {
          scroll-behavior: auto;
        }
      }
    </style>
  </body>
</html>
