---
import "@fontsource-variable/jetbrains-mono";
import '@fontsource/michroma';
import Headermain from "../components/Headermain.astro";
import Footer from "../components/Footer.astro";
import { ViewTransitions } from "astro:transitions";
const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <title>{title}</title>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta name="author" content="Mariano Caballero Avila" />

    <meta
      name="keywords"
      content="portfolio, mexican dev, web development, software engineer, website design, website projects, astro dev, astro website"
    />

    <meta property="og:title" content="{title}" />
    <meta property="og:description" content="{description}" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://your-website-url.com" />
    <meta property="og:image" content="https://your-website-url.com/og-image.jpg" />

    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="{title}" />
    <meta name="twitter:description" content="{description}" />
    <meta name="twitter:image" content="https://your-website-url.com/twitter-card-image.jpg" />
   

    <meta name="robots" content="index, follow" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="icon" type="image/x-icon" href="/logo.svg" />

    <ViewTransitions />
  </head>

  <body>
    <Headermain />
    <slot />
    <Footer />
    <style is:global>
      :root {
        --color-primary: #52525b;
        --color-secondary: #e4e4e7;
        --color-rose: #e11d48;
        --color-zinc: #71717a;

        --background-color: var(--color-secondary);
        --background-image: var(--background-color)
          url("/concrete.png") repeat;
      }

      @font-face {
        font-family: 'mechsuit';
        src: url('/fonts/Mechsuit.woff2') format('woff2');
        font-weight: normal;
        font-style: normal;
        font-display: swap;
      }

      html {
        font-family: "michroma", system-ui, sans-serif;
        background: var(--background-image);
        scroll-behavior: smooth;
        overflow-x: hidden;
        overscroll-behavior: none;
      }

      ::-webkit-scrollbar {
        width: 10px;
        border-radius: 10px;
      }

      ::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background-color: theme("colors.secondary");
        border: 2px solid transparent;
        background-clip: content-box;
      }
      ::-webkit-scrollbar-track {
        background: var(--background-image);
      }

      ::-webkit-scrollbar-corner {
        background: var(--background-image);
      }
      @media (prefers-reduced-motion: reduce) {
        html {
          scroll-behavior: auto;
        }
      }
    </style>
  </body>
</html>
